body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f6;
}

.container {
  height: 50vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid #000000; */
}

.input_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.btn_container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cnosole_container {
  width: 100%;
}

.input_container .box {
  width: 30vw;
  height: 30px;
  font-size: 16px;
}

.input_container p {
  float: left;
  width: 40px;
  height: 100%;
  margin: 0;
  text-align: left;
  line-height: 30px;
  color: #747d8c;
}

.input {
  outline: none;
  border-radius: 3px;
}

.ip {
  width: 180px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 15px;
  text-align: center;
}

.port {
  width: 150px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  margin-left: 12px;
  font-size: 15px;
  text-align: center;
}

.text {
  margin-top: 10px;
  width: 96%;
  height: 100px;
  resize: none;
  border: 0;
  padding: 2%;
  font-size: 14px;
}

.btn_container .btn {
  height: 30px;
  width: 15vw;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  background-color: #747d8c;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.btn_container .btn:hover {
  background-color: #2f3542;
}

.btn_container .btn:active {
  transform: scale(0.96);
}

.console {
  margin-top: 10px;
  width: 96%;
  height: 200px;
  resize: none;
  border: 0;
  font-size: 12px;
  padding: 2%;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.8;
}